input[type="text"] {
  width: 50%;
  padding: 10px 10px;
  margin: 10px 10px;
  box-sizing: border-box;
}
.form {
  text-align: center;
  margin: 50px;
  padding: 10px;
}
label {
  clear: left;
  text-align: right;
}
input {
  display: inline-block;
}
